In [2]:
import pandas as pd
import json

In [3]:
with open("data.json") as f :
    data = json.load(f)
    df_eval = pd.DataFrame(data["evaluations"])
    teachers = data["teachers"]
    students = data["student"]

df_eval

      student    subject  score                 date     type
0          22  Chemistry   0.50  2019-09-08T09:00:00     oral
1          83  Chemistry   2.60  2019-09-08T10:00:00  written
2          85  Chemistry  19.73  2019-09-08T10:00:00  written
3          21  Chemistry  13.25  2019-09-08T10:00:00     oral
4          76  Chemistry   7.47  2019-09-08T10:00:00  written
...       ...        ...    ...                  ...      ...
15569      17    Biology  13.50  2020-07-03T12:00:00  written
15570       7    Biology   2.98  2020-07-03T12:00:00  written
15571      80    Biology  15.75  2020-07-03T12:00:00  written
15572     120    Biology  14.36  2020-07-03T12:00:00  written
15573      45       Math   8.60  2020-07-03T12:00:00  written

[15574 rows x 5 columns]

In [21]:
list_teachers = {"name":[],"surname":[],"classes":[],"subject":[]}
for key,values in teachers.items():
    list_teachers["name"].append(values["name"])
    list_teachers["surname"].append(values["surname"])
    list_teachers["classes"].append(values["classes"])
    list_teachers["subject"].append(values["subject"])
df_teachers = pd.DataFrame(list_teachers)
df_teachers

           name    surname       classes             subject
0         Caron       Joël  [0, 2, 3, 4]                Math
1        Mallet      Manon        [0, 2]          Literature
2        Collin    Fernand           [0]          Philosophy
3       Rolland     Eliane     [0, 2, 3]             Physics
4        Renaud   Brigitte        [0, 1]             Biology
5       Roussel     Gisèle        [0, 3]             History
6       Lambert     Arnaud        [0, 4]           Geography
7       Carlier     Denise        [0, 3]           Chemistry
8         Denis     Marion           [1]                Math
9        Cousin    Jacques     [1, 3, 4]          Literature
10        Lucas     Annick           [1]          Philosophy
11      Cordier  Catherine           [1]             Physics
12   Barthelemy     Joseph        [1, 4]             History
13       Berger    Josette     [1, 3, 4]  Physical education
14  Charpentier  Véronique     [1, 2, 4]           Chemistry
15       Dubois   Laetitia        [2, 4]          Philosophy
16        Henry   Stéphane        [2, 4]             Biology
17       Millet      Elise           [2]             History
18       Benard  Alexandre           [2]           Geography
19       Thomas     Franck           [2]                 Art
20      Prevost    Olivier           [2]  Physical education
21      Lejeune    Michèle           [3]          Philosophy
22       Breton   Brigitte           [3]             Biology
23        Paris    Clément           [3]           Geography
24       Aubert  Georgette           [4]             Physics
25      Le Roux    Pauline           [4]               Music

In [20]:
list_students = {"name":[],"surname":[],"class":[]}
for key,values in students.items():
    list_students["name"].append(values["name"])
    list_students["surname"].append(values["surname"])
    list_students["class"].append(values["class"])
df_students = pd.DataFrame(list_students)
df_students

          name    surname  class
0       Hubert    Quentin      0
1     Gaillard  Stéphanie      0
2       Dufour    Corinne      0
3       Cousin   Florence      0
4      Rolland      Denis      0
..         ...        ...    ...
149    Charles    Florian      4
150   Marchand     Marcel      4
151    Poirier    Martine      4
152  Pelletier  Véronique      4
153      Paris     Adrien      4

[154 rows x 3 columns]

# Q1 : For each student, find every subjects on which he has been evaluated.

In [62]:
for i in range(len(df_students.index)):
    print(df_students["surname"].iloc[i], df_students["name"].iloc[i])
    print([x for x in df_eval[df_eval["student"] == str(i)]["subject"].drop_duplicates()])

Quentin Hubert
['Chemistry', 'Literature', 'Math', 'History', 'Physics', 'Biology', 'Geography', 'Philosophy']
Stéphanie Gaillard
['Chemistry', 'Literature', 'History', 'Math', 'Biology', 'Philosophy', 'Geography', 'Physics']
Corinne Dufour
['Chemistry', 'Literature', 'Physics', 'Math', 'Biology', 'History', 'Geography', 'Philosophy']
Florence Cousin
['Chemistry', 'History', 'Math', 'Biology', 'Physics', 'Literature', 'Geography', 'Philosophy']
Denis Rolland
['Chemistry', 'Literature', 'Physics', 'History', 'Math', 'Biology', 'Geography', 'Philosophy']
Denise Reynaud
['Chemistry', 'Literature', 'Physics', 'History', 'Math', 'Biology', 'Geography', 'Philosophy']
Romain Benard
['Chemistry', 'Physics', 'History', 'Math', 'Biology', 'Literature', 'Geography', 'Philosophy']
Eric Lecomte
['Chemistry', 'Literature', 'Physics', 'History', 'Math', 'Biology', 'Geography', 'Philosophy']
Claudine Mercier
['Chemistry', 'Literature', 'Physics', 'History', 'Math', 'Biology', 'Geography', 'Philosophy']
Georgette Maillard
['Chemistry', 'Literature', 'Physics', 'History', 'Math', 'Biology', 'Geography', 'Philosophy']
Bernard Jacquet
['Chemistry', 'Literature', 'Physics', 'History', 'Math', 'Biology', 'Geography', 'Philosophy']
Dominique Barthelemy
['Chemistry', 'Physics', 'History', 'Math', 'Biology', 'Literature', 'Geography', 'Philosophy']
Benjamin Germain
['Chemistry', 'Literature', 'Physics', 'Math', 'Biology', 'History', 'Geography', 'Philosophy']
Christine Colin
['Chemistry', 'Literature', 'History', 'Math', 'Biology', 'Geography', 'Philosophy', 'Physics']
Dominique Simon
['Chemistry', 'Literature', 'Physics', 'Biology', 'History', 'Geography', 'Philosophy', 'Math']
Joël Muller
['Chemistry', 'Literature', 'Math', 'Biology', 'History', 'Physics', 'Geography', 'Philosophy']
Laurent Chauvin
['Chemistry', 'Literature', 'History', 'Biology', 'Physics', 'Geography', 'Philosophy', 'Math']
Marcelle Fournier
['Chemistry', 'Literature', 'Physics', 'History', 'Math', 'Biology', 'Geography', 'Philosophy']
Nicole Thomas
['Chemistry', 'Literature', 'Physics', 'History', 'Math', 'Biology', 'Geography', 'Philosophy']
Laetitia Charles
['Chemistry', 'Literature', 'History', 'Math', 'Biology', 'Physics', 'Geography', 'Philosophy']
Mathilde Simon
['Chemistry', 'Literature', 'Physics', 'Math', 'Biology', 'History', 'Geography', 'Philosophy']
Mathieu Perrier
['Chemistry', 'Physics', 'History', 'Math', 'Biology', 'Literature', 'Geography', 'Philosophy']
Jean Pierre
['Chemistry', 'Literature', 'Physics', 'Math', 'History', 'Biology', 'Geography', 'Philosophy']
Emile Weber
['Chemistry', 'Literature', 'Physics', 'History', 'Math', 'Biology', 'Geography', 'Philosophy']
Brigitte Boulanger
['Chemistry', 'Physics', 'History', 'Math', 'Biology', 'Literature', 'Geography', 'Philosophy']
Guillaume Lopez
['Chemistry', 'Literature', 'Physics', 'Math', 'Biology', 'History', 'Geography', 'Philosophy']
Thomas Humbert
['Chemistry', 'Physics', 'History', 'Math', 'Biology', 'Geography', 'Philosophy', 'Literature']
Thierry Baron
['Chemistry', 'Literature', 'Physics', 'Math', 'Biology', 'History', 'Geography', 'Philosophy']
Julien Antoine
['Chemistry', 'Literature', 'Physics', 'History', 'Math', 'Biology', 'Geography', 'Philosophy']
Monique Reynaud
['Chemistry', 'Literature', 'History', 'Math', 'Biology', 'Physics', 'Geography', 'Philosophy']
Florence Carlier
['Chemistry', 'Literature', 'Physics', 'History', 'Math', 'Biology', 'Geography', 'Philosophy']
Jeannine Hoarau
['Chemistry', 'Physics', 'History', 'Math', 'Biology', 'Literature', 'Geography', 'Philosophy']
Suzanne Gerard
['History', 'Literature', 'Biology', 'Math', 'Physics', 'Philosophy', 'Chemistry', 'Physical education']
Serge Moulin
['History', 'Literature', 'Biology', 'Math', 'Physics', 'Philosophy', 'Physical education', 'Chemistry']
Alexis Hubert
['History', 'Literature', 'Biology', 'Math', 'Physics', 'Philosophy', 'Physical education', 'Chemistry']
Marine Laurent
['Literature', 'Biology', 'Math', 'Physics', 'Physical education', 'Philosophy', 'Chemistry', 'History']
Marine Weber
['History', 'Literature', 'Biology', 'Math', 'Physics', 'Physical education', 'Chemistry', 'Philosophy']
Léa Nicolas
['Literature', 'Biology', 'Math', 'Physics', 'Physical education', 'Chemistry', 'Philosophy', 'History']
Marcelle Roger
['History', 'Literature', 'Biology', 'Math', 'Physics', 'Physical education', 'Philosophy', 'Chemistry']
Fernand Jacquet
['Literature', 'Biology', 'Math', 'Physics', 'Physical education', 'Philosophy', 'Chemistry', 'History']
Jacques Da Silva
['History', 'Biology', 'Math', 'Literature', 'Physics', 'Philosophy', 'Physical education', 'Chemistry']
Charlotte Herve
['History', 'Literature', 'Biology', 'Math', 'Physics', 'Physical education', 'Philosophy', 'Chemistry']
Gérard Bouvier
['Literature', 'Biology', 'Math', 'Physics', 'Physical education', 'Philosophy', 'Chemistry', 'History']
Clément Richard
['History', 'Literature', 'Biology', 'Math', 'Physics', 'Philosophy', 'Physical education', 'Chemistry']
Simone Muller
['History', 'Literature', 'Biology', 'Math', 'Physics', 'Physical education', 'Philosophy', 'Chemistry']
Mathieu Gillet
['History', 'Literature', 'Biology', 'Math', 'Physics', 'Philosophy', 'Physical education', 'Chemistry']
Emmanuel Joly
['History', 'Biology', 'Math', 'Literature', 'Physics', 'Physical education', 'Philosophy', 'Chemistry']
Odette Legrand
['History', 'Literature', 'Biology', 'Math', 'Physics', 'Philosophy', 'Physical education', 'Chemistry']
Denis Gerard
['History', 'Literature', 'Biology', 'Math', 'Physics', 'Philosophy', 'Physical education', 'Chemistry']
Serge Royer
['History', 'Literature', 'Biology', 'Math', 'Physics', 'Physical education', 'Philosophy', 'Chemistry']
Sylvie Marie
['History', 'Literature', 'Biology', 'Math', 'Physics', 'Physical education', 'Philosophy', 'Chemistry']
Claudine Perez
['Literature', 'Biology', 'Math', 'Physics', 'Physical education', 'Philosophy', 'Chemistry', 'History']
Christine Joly
['History', 'Literature', 'Biology', 'Math', 'Physics', 'Philosophy', 'Physical education', 'Chemistry']
Eliane Fournier
['History', 'Literature', 'Biology', 'Math', 'Physics', 'Physical education', 'Philosophy', 'Chemistry']
Jerome Delaunay
['History', 'Literature', 'Biology', 'Math', 'Physics', 'Physical education', 'Philosophy', 'Chemistry']
Damien Klein
['History', 'Literature', 'Biology', 'Math', 'Physics', 'Physical education', 'Philosophy', 'Chemistry']
Nadine Benoit
['Biology', 'Math', 'Literature', 'Physics', 'Philosophy', 'Physical education', 'Chemistry', 'History']
Mathilde Vasseur
['Chemistry', 'Physics', 'Philosophy', 'Math', 'Geography', 'Biology', 'Literature', 'History', 'Art', 'Physical education']
Mireille Marie
['Physics', 'Philosophy', 'Math', 'History', 'Chemistry', 'Geography', 'Biology', 'Literature', 'Art', 'Physical education']
Stéphanie Schneider
['Chemistry', 'Physics', 'Biology', 'Philosophy', 'Math', 'History', 'Geography', 'Literature', 'Art', 'Physical education']
Marie Chevallier
['Chemistry', 'Physics', 'Biology', 'Philosophy', 'Math', 'History', 'Geography', 'Literature', 'Art', 'Physical education']
Mélanie Sanchez
['Physics', 'Philosophy', 'Math', 'History', 'Chemistry', 'Geography', 'Biology', 'Literature', 'Art', 'Physical education']
Fernand Marty
['Physics', 'Biology', 'Philosophy', 'Math', 'Chemistry', 'Geography', 'Literature', 'History', 'Art', 'Physical education']
Jean Lejeune
['Chemistry', 'Physics', 'Biology', 'Philosophy', 'Math', 'History', 'Geography', 'Literature', 'Art', 'Physical education']
Olivier Leveque
['Chemistry', 'Physics', 'Biology', 'Philosophy', 'Math', 'History', 'Geography', 'Literature', 'Art', 'Physical education']
Anne Louis
['Chemistry', 'Physics', 'Philosophy', 'Math', 'History', 'Geography', 'Biology', 'Literature', 'Art', 'Physical education']
Sandrine Muller
['Chemistry', 'Physics', 'Biology', 'Philosophy', 'Math', 'History', 'Literature', 'Geography', 'Art', 'Physical education']
Marine Paris
['Physics', 'Biology', 'Philosophy', 'Math', 'History', 'Chemistry', 'Literature', 'Geography', 'Art', 'Physical education']
Sylvie Renault
['Chemistry', 'Physics', 'Philosophy', 'Math', 'History', 'Geography', 'Biology', 'Literature', 'Art', 'Physical education']
Laurence Hubert
['Chemistry', 'Philosophy', 'Math', 'History', 'Geography', 'Physics', 'Biology', 'Literature', 'Art', 'Physical education']
Emile Fontaine
['Chemistry', 'Physics', 'Biology', 'Philosophy', 'Math', 'History', 'Geography', 'Literature', 'Art', 'Physical education']
Christophe Lemoine
['Chemistry', 'Physics', 'Biology', 'Philosophy', 'Math', 'History', 'Geography', 'Literature', 'Art', 'Physical education']
Roland Perrin
['Chemistry', 'Physics', 'Philosophy', 'Math', 'History', 'Geography', 'Biology', 'Literature', 'Art', 'Physical education']
Romain Roy
['Chemistry', 'Physics', 'Philosophy', 'Math', 'History', 'Geography', 'Biology', 'Literature', 'Art', 'Physical education']
Gérard Weber
['Chemistry', 'Biology', 'Philosophy', 'Math', 'History', 'Geography', 'Physics', 'Literature', 'Art', 'Physical education']
Chloé Garnier
['Chemistry', 'Physics', 'Biology', 'Philosophy', 'Math', 'History', 'Literature', 'Geography', 'Art', 'Physical education']
Florence Martin
['Chemistry', 'Physics', 'Biology', 'Philosophy', 'Math', 'History', 'Geography', 'Literature', 'Art', 'Physical education']
Paul Hoarau
['Chemistry', 'Physics', 'Biology', 'Philosophy', 'Math', 'History', 'Literature', 'Geography', 'Art', 'Physical education']
Lucas Leroy
['Chemistry', 'Physics', 'Biology', 'Philosophy', 'Math', 'History', 'Geography', 'Literature', 'Art', 'Physical education']
Juliette Girard
['Chemistry', 'Physics', 'Biology', 'Philosophy', 'Math', 'History', 'Literature', 'Geography', 'Art', 'Physical education']
Christophe Faure
['Chemistry', 'Physics', 'Biology', 'Philosophy', 'Math', 'History', 'Geography', 'Literature', 'Art', 'Physical education']
Valérie Royer
['Physics', 'Biology', 'Philosophy', 'Math', 'History', 'Chemistry', 'Geography', 'Literature', 'Art', 'Physical education']
Eliane Lambert
['Chemistry', 'Physics', 'Biology', 'Math', 'History', 'Geography', 'Philosophy', 'Literature', 'Art', 'Physical education']
Karine Bernard
['Chemistry', 'Physics', 'Biology', 'Philosophy', 'Math', 'History', 'Geography', 'Literature', 'Art', 'Physical education']
Hervé Gillet
['Physics', 'Philosophy', 'Math', 'History', 'Chemistry', 'Literature', 'Geography', 'Biology', 'Art', 'Physical education']
Isabelle Guillot
['Chemistry', 'Physics', 'Biology', 'Philosophy', 'Math', 'History', 'Geography', 'Literature', 'Art', 'Physical education']
Sylvie Antoine
['Chemistry', 'Physics', 'Biology', 'Philosophy', 'Math', 'History', 'Geography', 'Literature', 'Art', 'Physical education']
Florence Perrin
['Geography', 'Biology', 'Physical education', 'Philosophy', 'History', 'Math', 'Literature', 'Physics', 'Chemistry']
Audrey Blanc
['Geography', 'Philosophy', 'Biology', 'Physical education', 'History', 'Math', 'Literature', 'Chemistry', 'Physics']
Adrien Charpentier
['Geography', 'Philosophy', 'Biology', 'Physical education', 'History', 'Math', 'Literature', 'Chemistry', 'Physics']
Eric Philippe
['Geography', 'Philosophy', 'Physical education', 'History', 'Biology', 'Math', 'Literature', 'Physics', 'Chemistry']
Henriette Schneider
['Geography', 'Philosophy', 'Biology', 'History', 'Math', 'Physical education', 'Literature', 'Chemistry', 'Physics']
Henri Lefebvre
['Biology', 'Physical education', 'History', 'Philosophy', 'Geography', 'Literature', 'Chemistry', 'Physics', 'Math']
Suzanne Dufour
['Geography', 'Philosophy', 'Biology', 'History', 'Math', 'Physical education', 'Literature', 'Chemistry', 'Physics']
Paul Antoine
['Philosophy', 'Biology', 'History', 'Physical education', 'Geography', 'Literature', 'Chemistry', 'Physics', 'Math']
Denis Lacroix
['Geography', 'Philosophy', 'Biology', 'Physical education', 'History', 'Math', 'Literature', 'Physics', 'Chemistry']
Jeremy Carre
['Geography', 'Philosophy', 'Physical education', 'History', 'Biology', 'Math', 'Literature', 'Chemistry', 'Physics']
Nicole Barbier
['Geography', 'Philosophy', 'Biology', 'Physical education', 'History', 'Math', 'Literature', 'Chemistry', 'Physics']
Jacques Vincent
['Geography', 'Philosophy', 'Biology', 'Physical education', 'History', 'Math', 'Literature', 'Chemistry', 'Physics']
Léon Le Goff
['Geography', 'Physical education', 'Philosophy', 'Biology', 'History', 'Math', 'Literature', 'Chemistry', 'Physics']
Bernadette Michaud
['Geography', 'Philosophy', 'Biology', 'Physical education', 'History', 'Math', 'Literature', 'Chemistry', 'Physics']
Mireille Tessier
['Geography', 'Philosophy', 'Biology', 'Physical education', 'History', 'Math', 'Literature', 'Chemistry', 'Physics']
Marguerite Vasseur
['Geography', 'Philosophy', 'Biology', 'Physical education', 'History', 'Math', 'Literature', 'Chemistry', 'Physics']
Laetitia Klein
['Geography', 'Philosophy', 'Physical education', 'Biology', 'History', 'Literature', 'Physics', 'Math', 'Chemistry']
Emmanuel Andre
['Geography', 'Philosophy', 'Physical education', 'History', 'Biology', 'Math', 'Literature', 'Chemistry', 'Physics']
Jean-Claude Bourgeois
['Geography', 'Biology', 'Physical education', 'History', 'Philosophy', 'Math', 'Literature', 'Chemistry', 'Physics']
Georges Meunier
['Philosophy', 'Biology', 'History', 'Math', 'Physical education', 'Geography', 'Literature', 'Physics', 'Chemistry']
Thérèse Olivier
['Geography', 'Philosophy', 'Biology', 'Physical education', 'History', 'Math', 'Literature', 'Chemistry', 'Physics']
Odette Roux
['Geography', 'Philosophy', 'Biology', 'History', 'Math', 'Literature', 'Chemistry', 'Physics', 'Physical education']
Adrien Aubert
['Philosophy', 'Biology', 'Physical education', 'History', 'Math', 'Geography', 'Literature', 'Chemistry', 'Physics']
Paulette Lemaitre
['Geography', 'Philosophy', 'Biology', 'Physical education', 'History', 'Math', 'Literature', 'Chemistry', 'Physics']
Roger Carpentier
['Geography', 'Philosophy', 'Biology', 'Physical education', 'History', 'Chemistry', 'Literature', 'Physics', 'Math']
Odette Henry
['Geography', 'Philosophy', 'Biology', 'Physical education', 'History', 'Math', 'Literature', 'Chemistry', 'Physics']
Pauline Morin
['Geography', 'Biology', 'Physical education', 'History', 'Philosophy', 'Math', 'Literature', 'Chemistry', 'Physics']
Annie Michel
['Geography', 'Philosophy', 'Biology', 'Physical education', 'History', 'Math', 'Literature', 'Chemistry', 'Physics']
Kevin Weber
['Geography', 'Philosophy', 'Biology', 'Physical education', 'History', 'Literature', 'Chemistry', 'Physics', 'Math']
Patricia Renard
['Philosophy', 'Biology', 'Physical education', 'History', 'Math', 'Geography', 'Literature', 'Chemistry', 'Physics']
Gabriel Grondin
['Philosophy', 'Biology', 'History', 'Math', 'Physical education', 'Geography', 'Literature', 'Chemistry', 'Physics']
Suzanne Grondin
['Geography', 'Philosophy', 'Biology', 'Physical education', 'History', 'Literature', 'Chemistry', 'Physics', 'Math']
Martine Huet
['Geography', 'Philosophy', 'Biology', 'Physical education', 'History', 'Math', 'Literature', 'Chemistry', 'Physics']
Christian Lebrun
['Geography', 'History', 'Chemistry', 'Math', 'Music', 'Physical education', 'Philosophy', 'Physics', 'Biology', 'Literature']
Roger Rolland
['Geography', 'History', 'Chemistry', 'Math', 'Music', 'Physical education', 'Philosophy', 'Physics', 'Biology', 'Literature']
Dominique Muller
['Geography', 'History', 'Chemistry', 'Math', 'Physical education', 'Music', 'Philosophy', 'Physics', 'Biology', 'Literature']
Emilie Jean
['Geography', 'History', 'Chemistry', 'Math', 'Music', 'Physical education', 'Philosophy', 'Physics', 'Biology', 'Literature']
Jean-Luc Perrier
['Geography', 'History', 'Chemistry', 'Math', 'Music', 'Physical education', 'Philosophy', 'Physics', 'Biology', 'Literature']
Jacqueline Bernard
['Geography', 'History', 'Chemistry', 'Math', 'Music', 'Physical education', 'Philosophy', 'Physics', 'Biology', 'Literature']
Florian Louis
['Geography', 'History', 'Chemistry', 'Math', 'Music', 'Physical education', 'Philosophy', 'Physics', 'Biology', 'Literature']
Kevin Rey
['Geography', 'History', 'Chemistry', 'Math', 'Music', 'Physical education', 'Philosophy', 'Physics', 'Biology', 'Literature']
Michèle Besson
['Geography', 'History', 'Chemistry', 'Math', 'Music', 'Physical education', 'Philosophy', 'Physics', 'Biology', 'Literature']
Claude Schneider
['Geography', 'History', 'Chemistry', 'Music', 'Physical education', 'Philosophy', 'Math', 'Physics', 'Biology', 'Literature']
Gérard Gauthier
['Geography', 'History', 'Chemistry', 'Music', 'Physical education', 'Philosophy', 'Math', 'Physics', 'Biology', 'Literature']
Claire Blanchard
['Geography', 'History', 'Chemistry', 'Math', 'Music', 'Physical education', 'Philosophy', 'Physics', 'Biology', 'Literature']
Jacques David
['Geography', 'History', 'Chemistry', 'Music', 'Physical education', 'Philosophy', 'Math', 'Physics', 'Biology', 'Literature']
Pierre Hubert
['Geography', 'History', 'Chemistry', 'Math', 'Physical education', 'Music', 'Philosophy', 'Biology', 'Physics', 'Literature']
Brigitte Lefevre
['Geography', 'History', 'Chemistry', 'Math', 'Music', 'Physical education', 'Philosophy', 'Physics', 'Biology', 'Literature']
Frédéric Laurent
['Geography', 'History', 'Chemistry', 'Math', 'Physical education', 'Music', 'Philosophy', 'Physics', 'Literature', 'Biology']
Claire Mercier
['Geography', 'History', 'Chemistry', 'Math', 'Music', 'Physical education', 'Philosophy', 'Physics', 'Biology', 'Literature']
Sophie Picard
['Geography', 'History', 'Chemistry', 'Music', 'Physical education', 'Philosophy', 'Math', 'Physics', 'Biology', 'Literature']
Alice Sanchez
['Geography', 'History', 'Chemistry', 'Math', 'Music', 'Physical education', 'Philosophy', 'Physics', 'Biology', 'Literature']
Marguerite Menard
['Geography', 'History', 'Chemistry', 'Math', 'Music', 'Physical education', 'Philosophy', 'Physics', 'Biology', 'Literature']
Victor Chevallier
['Geography', 'History', 'Chemistry', 'Math', 'Music', 'Physical education', 'Philosophy', 'Physics', 'Biology', 'Literature']
Alice Deschamps
['Geography', 'History', 'Chemistry', 'Math', 'Physical education', 'Music', 'Philosophy', 'Physics', 'Biology', 'Literature']
Josette Mallet
['Geography', 'History', 'Chemistry', 'Math', 'Music', 'Physical education', 'Philosophy', 'Physics', 'Biology', 'Literature']
Marine Perret
['Geography', 'History', 'Chemistry', 'Math', 'Music', 'Physical education', 'Philosophy', 'Physics', 'Biology', 'Literature']
Fernand Lucas
['Geography', 'History', 'Chemistry', 'Math', 'Music', 'Physical education', 'Philosophy', 'Physics', 'Biology', 'Literature']
Paulette Chevallier
['Geography', 'History', 'Chemistry', 'Math', 'Music', 'Physical education', 'Philosophy', 'Literature', 'Physics', 'Biology']
Lucas Bailly
['Geography', 'History', 'Chemistry', 'Math', 'Music', 'Physical education', 'Philosophy', 'Physics', 'Biology', 'Literature']
Gabriel Roche
['Geography', 'History', 'Chemistry', 'Math', 'Music', 'Physical education', 'Philosophy', 'Physics', 'Biology', 'Literature']
Audrey Girard
['Geography', 'History', 'Chemistry', 'Math', 'Music', 'Physical education', 'Philosophy', 'Physics', 'Biology', 'Literature']
Florian Charles
['Geography', 'History', 'Chemistry', 'Music', 'Physical education', 'Philosophy', 'Math', 'Biology', 'Physics', 'Literature']
Marcel Marchand
['Geography', 'History', 'Chemistry', 'Math', 'Music', 'Physical education', 'Philosophy', 'Biology', 'Physics', 'Literature']
Martine Poirier
['Geography', 'History', 'Chemistry', 'Math', 'Music', 'Physical education', 'Philosophy', 'Biology', 'Literature', 'Physics']
Véronique Pelletier
['Geography', 'History', 'Chemistry', 'Math', 'Music', 'Physical education', 'Philosophy', 'Biology', 'Physics', 'Literature']
Adrien Paris

# Q2 For each student, calculate his average in each subject.

In [89]:
for i in range(len(df_students.index)):
    print(df_students["surname"].iloc[i], df_students["name"].iloc[i])
    for subject in df_eval[df_eval["student"] == str(i)]["subject"].drop_duplicates():
        print(subject , " : ",  df_eval[["student","subject","score"]][(df_eval["student"] == str(i)) & (df_eval["subject"] == subject)]["score"].mean())

Quentin Hubert
Chemistry  :  11.291538461538462
Literature  :  8.329166666666667
Math  :  10.0
History  :  20.0
Physics  :  3.589230769230769
Biology  :  1.3838461538461537
Geography  :  18.89846153846154
Philosophy  :  14.29857142857143
Stéphanie Gaillard
Chemistry  :  12.129999999999999
Literature  :  14.710769230769232
History  :  0.5
Math  :  2.568333333333334
Biology  :  12.838571428571429
Philosophy  :  2.083333333333333
Geography  :  7.4750000000000005
Physics  :  7.993636363636363
Corinne Dufour
Chemistry  :  9.0
Literature  :  14.608333333333334
Physics  :  5.319333333333333
Math  :  9.0
Biology  :  1.5978571428571426
History  :  5.111666666666667
Geography  :  17.632142857142856
Philosophy  :  3.1621428571428574
Florence Cousin
Chemistry  :  9.83923076923077
History  :  17.47357142857143
Math  :  12.5
Biology  :  18.242
Physics  :  13.0
Literature  :  7.306363636363637
Geography  :  1.0
Philosophy  :  10.323846153846155
Denis Rolland
Chemistry  :  13.602307692307692
Literature  :  10.002307692307692
Physics  :  12.0
History  :  5.0
Math  :  4.738666666666666
Biology  :  6.506666666666666
Geography  :  5.0713333333333335
Philosophy  :  6.344615384615385
Denise Reynaud
Chemistry  :  10.0
Literature  :  5.0
Physics  :  18.165333333333333
History  :  18.952307692307695
Math  :  10.924375000000001
Biology  :  4.75
Geography  :  6.376666666666666
Philosophy  :  3.0
Romain Benard
Chemistry  :  5.649166666666666
Physics  :  16.276153846153843
History  :  9.516666666666667
Math  :  1.3835714285714287
Biology  :  18.59923076923077
Literature  :  2.130909090909091
Geography  :  5.253333333333334
Philosophy  :  16.460714285714285
Eric Lecomte
Chemistry  :  13.0
Literature  :  10.258461538461537
Physics  :  2.826923076923077
History  :  14.480833333333331
Math  :  8.823333333333334
Biology  :  5.970000000000001
Geography  :  5.003333333333333
Philosophy  :  15.86909090909091
Claudine Mercier
Chemistry  :  18.103846153846153
Literature  :  5.853076923076922
Physics  :  14.43272727272727
History  :  7.0
Math  :  13.648235294117645
Biology  :  12.339230769230769
Geography  :  16.170714285714286
Philosophy  :  6.114615384615385
Georgette Maillard
Chemistry  :  14.11
Literature  :  1.771818181818182
Physics  :  6.3730769230769235
History  :  5.971666666666668
Math  :  15.21625
Biology  :  13.342142857142857
Geography  :  2.3357142857142854
Philosophy  :  15.714166666666666
Bernard Jacquet
Chemistry  :  4.111666666666667
Literature  :  18.230769230769234
Physics  :  18.75076923076923
History  :  14.466666666666665
Math  :  14.297999999999998
Biology  :  17.0
Geography  :  16.197857142857142
Philosophy  :  2.0
Dominique Barthelemy
Chemistry  :  18.211666666666666
Physics  :  8.133846153846154
History  :  1.718
Math  :  11.0
Biology  :  14.737857142857141
Literature  :  5.31375
Geography  :  6.0
Philosophy  :  14.427142857142856
Benjamin Germain
Chemistry  :  6.760769230769231
Literature  :  15.0
Physics  :  6.696428571428571
Math  :  17.947692307692307
Biology  :  9.369285714285715
History  :  16.0
Geography  :  14.028666666666668
Philosophy  :  13.36076923076923
Christine Colin
Chemistry  :  4.946
Literature  :  6.420000000000001
History  :  4.661333333333333
Math  :  1.8123076923076924
Biology  :  10.545714285714286
Geography  :  3.8569230769230765
Philosophy  :  11.83642857142857
Physics  :  8.0
Dominique Simon
Chemistry  :  11.67769230769231
Literature  :  10.835000000000003
Physics  :  12.358666666666664
Biology  :  10.630769230769232
History  :  3.9046153846153846
Geography  :  15.833846153846155
Philosophy  :  11.262307692307692
Math  :  6.881818181818181
Joël Muller
Chemistry  :  13.85153846153846
Literature  :  4.526923076923077
Math  :  12.158571428571426
Biology  :  3.2986666666666666
History  :  7.0
Physics  :  17.235
Geography  :  1.962
Philosophy  :  2.2708333333333335
Laurent Chauvin
Chemistry  :  16.0
Literature  :  1.9120000000000001
History  :  11.0
Biology  :  12.0
Physics  :  7.970769230769231
Geography  :  17.694615384615386
Philosophy  :  4.63076923076923
Math  :  15.897333333333334
Marcelle Fournier
Chemistry  :  14.0
Literature  :  8.0
Physics  :  9.422500000000001
History  :  18.77461538461538
Math  :  20.0
Biology  :  12.136428571428569
Geography  :  19.0
Philosophy  :  7.624285714285714
Nicole Thomas
Chemistry  :  10.626153846153848
Literature  :  14.0
Physics  :  6.946666666666668
History  :  17.706
Math  :  19.132857142857144
Biology  :  9.99307692307692
Geography  :  3.4464285714285716
Philosophy  :  3.4975000000000005
Laetitia Charles
Chemistry  :  5.216666666666666
Literature  :  8.293076923076923
History  :  4.628666666666667
Math  :  13.0
Biology  :  6.768666666666666
Physics  :  10.265384615384615
Geography  :  16.0
Philosophy  :  16.940769230769227
Mathilde Simon
Chemistry  :  1.5299999999999998
Literature  :  15.52
Physics  :  3.5986666666666665
Math  :  15.158461538461536
Biology  :  15.972857142857142
History  :  16.53923076923077
Geography  :  1.4175000000000002
Philosophy  :  10.923846153846153
Mathieu Perrier
Chemistry  :  17.880000000000003
Physics  :  16.211428571428574
History  :  6.985384615384616
Math  :  4.406153846153845
Biology  :  3.6749999999999994
Literature  :  16.018461538461537
Geography  :  10.147857142857145
Philosophy  :  16.933333333333334
Jean Pierre
Chemistry  :  1.515
Literature  :  8.7525
Physics  :  16.805
Math  :  17.149285714285714
History  :  7.519230769230769
Biology  :  7.212307692307693
Geography  :  12.643333333333333
Philosophy  :  10.872857142857143
Emile Weber
Chemistry  :  9.730769230769234
Literature  :  2.1279999999999997
Physics  :  19.076666666666664
History  :  10.651818181818182
Math  :  6.0
Biology  :  12.185
Geography  :  9.817692307692306
Philosophy  :  14.708461538461538
Brigitte Boulanger
Chemistry  :  4.0
Physics  :  7.0
History  :  13.423846153846153
Math  :  7.0
Biology  :  15.981333333333335
Literature  :  3.6446153846153844
Geography  :  13.779230769230768
Philosophy  :  5.921428571428571
Guillaume Lopez
Chemistry  :  3.2284615384615383
Literature  :  3.066153846153846
Physics  :  4.0
Math  :  1.8599999999999999
Biology  :  3.0
History  :  15.87153846153846
Geography  :  14.904615384615385
Philosophy  :  7.241538461538462
Thomas Humbert
Chemistry  :  10.073076923076924
Physics  :  14.44
History  :  18.0
Math  :  4.21
Biology  :  0.9385714285714286
Geography  :  5.539285714285714
Philosophy  :  14.149999999999999
Literature  :  8.0
Thierry Baron
Chemistry  :  3.997272727272727
Literature  :  5.337142857142857
Physics  :  17.63692307692308
Math  :  15.33
Biology  :  3.7984615384615386
History  :  10.055
Geography  :  11.468571428571428
Philosophy  :  13.100769230769231
Julien Antoine
Chemistry  :  5.029166666666667
Literature  :  16.20714285714286
Physics  :  5.265000000000001
History  :  1.417857142857143
Math  :  7.154285714285714
Biology  :  6.331428571428573
Geography  :  15.697857142857144
Philosophy  :  10.425
Monique Reynaud
Chemistry  :  11.694545454545453
Literature  :  9.320833333333333
History  :  1.5374999999999999
Math  :  17.992857142857144
Biology  :  13.184615384615388
Physics  :  12.164
Geography  :  2.180769230769231
Philosophy  :  15.626666666666665
Florence Carlier
Chemistry  :  6.386923076923077
Literature  :  5.512727272727273
Physics  :  4.981538461538461
History  :  7.84
Math  :  4.409285714285714
Biology  :  8.546363636363637
Geography  :  19.735833333333336
Philosophy  :  13.082142857142856
Jeannine Hoarau
Chemistry  :  5.0
Physics  :  1.0
History  :  12.936428571428573
Math  :  10.698000000000002
Biology  :  18.41076923076923
Literature  :  7.681818181818182
Geography  :  8.0
Philosophy  :  13.26
Suzanne Gerard
History  :  5.54111111111111
Literature  :  2.2533333333333334
Biology  :  15.089411764705885
Math  :  3.599375
Physics  :  6.843076923076922
Philosophy  :  13.7
Chemistry  :  9.07
Physical education  :  5.163333333333333
Serge Moulin
History  :  16.96142857142857
Literature  :  14.729090909090907
Biology  :  17.68941176470588
Math  :  9.836
Physics  :  11.0
Philosophy  :  16.66846153846154
Physical education  :  2.728571428571428
Chemistry  :  5.478181818181818
Alexis Hubert
History  :  14.675
Literature  :  17.923636363636362
Biology  :  17.408235294117645
Math  :  3.9988888888888883
Physics  :  14.0
Philosophy  :  12.111428571428572
Physical education  :  17.62933333333333
Chemistry  :  13.71
Marine Laurent
Literature  :  15.294545454545453
Biology  :  17.856875
Math  :  7.260555555555554
Physics  :  7.515000000000001
Physical education  :  8.116666666666667
Philosophy  :  12.046363636363635
Chemistry  :  14.789000000000001
History  :  2.401666666666667
Marine Weber
History  :  7.05875
Literature  :  14.433333333333335
Biology  :  1.054375
Math  :  1.1205555555555555
Physics  :  3.1350000000000002
Physical education  :  18.22
Chemistry  :  3.218
Philosophy  :  15.909999999999998
Léa Nicolas
Literature  :  2.0646153846153847
Biology  :  15.516666666666667
Math  :  18.747500000000002
Physics  :  14.163999999999998
Physical education  :  12.827333333333334
Chemistry  :  1.0
Philosophy  :  18.91090909090909
History  :  9.631666666666668
Marcelle Roger
History  :  8.361428571428572
Literature  :  3.227272727272727
Biology  :  20.0
Math  :  12.006842105263157
Physics  :  6.634
Physical education  :  0.7184615384615385
Philosophy  :  4.455
Chemistry  :  14.442727272727273
Fernand Jacquet
Literature  :  14.638181818181819
Biology  :  17.73888888888889
Math  :  1.6711764705882353
Physics  :  18.091428571428573
Physical education  :  12.247333333333334
Philosophy  :  8.0
Chemistry  :  6.132727272727272
History  :  8.677499999999998
Jacques Da Silva
History  :  6.4675
Biology  :  7.635624999999999
Math  :  1.1464285714285711
Literature  :  13.739090909090908
Physics  :  10.0
Philosophy  :  17.69
Physical education  :  17.923636363636362
Chemistry  :  19.0
Charlotte Herve
History  :  17.996666666666666
Literature  :  12.231666666666667
Biology  :  12.54125
Math  :  4.9193333333333324
Physics  :  7.727500000000002
Physical education  :  8.033846153846154
Philosophy  :  18.13909090909091
Chemistry  :  17.75
Gérard Bouvier
Literature  :  14.181818181818182
Biology  :  13.921875
Math  :  10.073125000000001
Physics  :  8.797500000000001
Physical education  :  10.306923076923077
Philosophy  :  15.995000000000003
Chemistry  :  17.832
History  :  10.827142857142858
Clément Richard
History  :  12.188888888888888
Literature  :  5.0
Biology  :  8.30235294117647
Math  :  15.784999999999998
Physics  :  15.206153846153846
Philosophy  :  16.580769230769228
Physical education  :  11.13357142857143
Chemistry  :  14.542000000000002
Simone Muller
History  :  14.931249999999999
Literature  :  5.7807692307692315
Biology  :  15.598749999999999
Math  :  15.0
Physics  :  4.0
Physical education  :  7.0
Philosophy  :  12.004615384615384
Chemistry  :  15.667999999999997
Mathieu Gillet
History  :  13.501249999999999
Literature  :  11.506666666666666
Biology  :  10.028823529411767
Math  :  6.366875
Physics  :  10.095
Philosophy  :  7.286923076923076
Physical education  :  4.705
Chemistry  :  16.957
Emmanuel Joly
History  :  12.528571428571428
Biology  :  13.484117647058824
Math  :  8.285333333333334
Literature  :  10.0
Physics  :  7.427857142857143
Physical education  :  11.0
Philosophy  :  1.9000000000000001
Chemistry  :  15.417272727272728
Odette Legrand
History  :  18.0
Literature  :  16.9425
Biology  :  10.563529411764705
Math  :  18.815
Physics  :  15.607692307692306
Philosophy  :  18.11846153846154
Physical education  :  5.0
Chemistry  :  1.0
Denis Gerard
History  :  9.114285714285716
Literature  :  10.0
Biology  :  5.381111111111111
Math  :  5.011111111111111
Physics  :  10.075833333333334
Philosophy  :  4.892222222222222
Physical education  :  13.860000000000001
Chemistry  :  15.58
Serge Royer
History  :  12.0
Literature  :  19.561666666666664
Biology  :  13.355294117647059
Math  :  17.296315789473685
Physics  :  6.465384615384616
Physical education  :  6.585
Philosophy  :  8.0
Chemistry  :  8.0
Sylvie Marie
History  :  7.132222222222222
Literature  :  9.0
Biology  :  4.953125
Math  :  13.724736842105262
Physics  :  8.824615384615386
Physical education  :  9.084666666666667
Philosophy  :  2.595
Chemistry  :  2.0140000000000002
Claudine Perez
Literature  :  2.67
Biology  :  4.967222222222222
Math  :  7.033125
Physics  :  12.584545454545456
Physical education  :  16.214285714285715
Philosophy  :  11.0
Chemistry  :  1.5166666666666666
History  :  9.9
Christine Joly
History  :  12.0
Literature  :  10.412222222222223
Biology  :  15.176470588235293
Math  :  3.0
Physics  :  4.486
Philosophy  :  6.227857142857144
Physical education  :  18.357692307692307
Chemistry  :  12.231
Eliane Fournier
History  :  9.077777777777776
Literature  :  0.9683333333333334
Biology  :  14.564705882352941
Math  :  15.769999999999996
Physics  :  10.77642857142857
Physical education  :  13.199333333333332
Philosophy  :  18.450714285714287
Chemistry  :  17.615000000000002
Jerome Delaunay
History  :  0.5
Literature  :  12.113076923076921
Biology  :  14.81294117647059
Math  :  16.959999999999997
Physics  :  18.534
Physical education  :  1.0
Philosophy  :  1.0014285714285716
Chemistry  :  5.75909090909091
Damien Klein
History  :  13.0
Literature  :  4.573333333333334
Biology  :  9.857500000000002
Math  :  17.0
Physics  :  15.721428571428572
Physical education  :  6.6353333333333335
Philosophy  :  13.5375
Chemistry  :  1.2890000000000001
Nadine Benoit
Biology  :  9.410588235294119
Math  :  10.124375
Literature  :  2.79
Physics  :  1.125
Philosophy  :  17.529166666666665
Physical education  :  20.0
Chemistry  :  11.32
History  :  10.106666666666667
Mathilde Vasseur
Chemistry  :  16.0
Physics  :  9.120000000000001
Philosophy  :  13.006666666666668
Math  :  19.212
Geography  :  2.3911764705882352
Biology  :  8.512727272727274
Literature  :  4.263333333333334
History  :  4.039166666666667
Art  :  17.95090909090909
Physical education  :  4.868333333333333
Mireille Marie
Physics  :  12.564545454545453
Philosophy  :  16.58153846153846
Math  :  18.766666666666666
History  :  11.737692307692308
Chemistry  :  7.1000000000000005
Geography  :  2.1476470588235292
Biology  :  12.0
Literature  :  17.774444444444445
Art  :  3.8625
Physical education  :  8.214166666666666
Stéphanie Schneider
Chemistry  :  3.2257894736842103
Physics  :  12.869090909090913
Biology  :  8.0
Philosophy  :  12.718333333333334
Math  :  7.0
History  :  2.08
Geography  :  18.0
Literature  :  3.5355555555555553
Art  :  18.33
Physical education  :  2.0
Marie Chevallier
Chemistry  :  11.020666666666669
Physics  :  6.182999999999999
Biology  :  18.1225
Philosophy  :  15.492727272727274
Math  :  5.397499999999999
History  :  4.914285714285714
Geography  :  13.429285714285713
Literature  :  11.507
Art  :  15.764545454545454
Physical education  :  15.0
Mélanie Sanchez
Physics  :  2.53375
Philosophy  :  3.2115384615384617
Math  :  3.0
History  :  7.8585714285714285
Chemistry  :  12.84375
Geography  :  4.0
Biology  :  6.538333333333334
Literature  :  5.136666666666667
Art  :  1.4755555555555555
Physical education  :  4.0
Fernand Marty
Physics  :  11.356363636363636
Biology  :  4.303076923076923
Philosophy  :  12.304545454545455
Math  :  1.836666666666667
Chemistry  :  11.0
Geography  :  1.82
Literature  :  0.5
History  :  1.9309090909090907
Art  :  6.1433333333333335
Physical education  :  4.0
Jean Lejeune
Chemistry  :  16.21529411764706
Physics  :  1.7520000000000002
Biology  :  3.8266666666666675
Philosophy  :  12.033571428571426
Math  :  12.567777777777778
History  :  5.655
Geography  :  14.716428571428569
Literature  :  8.759999999999998
Art  :  4.311
Physical education  :  16.694
Olivier Leveque
Chemistry  :  5.454736842105263
Physics  :  17.902
Biology  :  18.285454545454545
Philosophy  :  13.34142857142857
Math  :  11.0
History  :  4.420000000000001
Geography  :  13.0
Literature  :  13.497777777777777
Art  :  1.541
Physical education  :  13.695454545454545
Anne Louis
Chemistry  :  5.205263157894737
Physics  :  4.0
Philosophy  :  15.160833333333331
Math  :  18.482
History  :  15.0
Geography  :  17.96470588235294
Biology  :  6.14
Literature  :  10.0
Art  :  12.926666666666666
Physical education  :  1.1570000000000003
Sandrine Muller
Chemistry  :  11.0
Physics  :  13.0
Biology  :  18.318
Philosophy  :  10.671428571428573
Math  :  15.944999999999999
History  :  18.61
Literature  :  4.237500000000001
Geography  :  7.926153846153846
Art  :  5.974285714285714
Physical education  :  17.1775
Marine Paris
Physics  :  17.51090909090909
Biology  :  6.0
Philosophy  :  6.732142857142857
Math  :  2.236666666666667
History  :  13.81285714285714
Chemistry  :  8.216470588235294
Literature  :  10.0
Geography  :  0.9786666666666667
Art  :  7.205
Physical education  :  18.021
Sylvie Renault
Chemistry  :  18.796666666666667
Physics  :  14.264999999999997
Philosophy  :  7.738571428571428
Math  :  14.00222222222222
History  :  11.44076923076923
Geography  :  5.0
Biology  :  8.0
Literature  :  4.0969999999999995
Art  :  16.525555555555556
Physical education  :  1.0
Laurence Hubert
Chemistry  :  4.905555555555555
Philosophy  :  2.03
Math  :  7.105555555555555
History  :  15.947500000000003
Geography  :  10.259374999999999
Physics  :  7.612
Biology  :  5.927500000000001
Literature  :  5.333333333333333
Art  :  15.959
Physical education  :  15.341666666666667
Emile Fontaine
Chemistry  :  15.0
Physics  :  8.24
Biology  :  2.0
Philosophy  :  15.0
Math  :  1.0
History  :  11.769999999999998
Geography  :  13.0
Literature  :  1.7433333333333334
Art  :  11.258000000000001
Physical education  :  10.753636363636362
Christophe Lemoine
Chemistry  :  13.823333333333332
Physics  :  5.825454545454545
Biology  :  6.908181818181819
Philosophy  :  19.44363636363636
Math  :  3.0
History  :  11.697272727272729
Geography  :  19.0
Literature  :  9.08
Art  :  8.367999999999999
Physical education  :  12.178333333333333
Roland Perrin
Chemistry  :  3.2529411764705882
Physics  :  8.239
Philosophy  :  11.250714285714286
Math  :  2.543
History  :  18.536923076923078
Geography  :  0.8553333333333335
Biology  :  19.68909090909091
Literature  :  8.0
Art  :  9.556000000000001
Physical education  :  12.614545454545457
Romain Roy
Chemistry  :  10.0
Physics  :  7.986666666666668
Philosophy  :  15.901666666666666
Math  :  13.520999999999997
History  :  9.63076923076923
Geography  :  6.8133333333333335
Biology  :  1.8829999999999998
Literature  :  14.28125
Art  :  12.572727272727274
Physical education  :  1.9816666666666665
Gérard Weber
Chemistry  :  7.568124999999999
Biology  :  1.425
Philosophy  :  13.0
Math  :  16.13625
History  :  10.616666666666669
Geography  :  15.657058823529413
Physics  :  7.536666666666666
Literature  :  16.0
Art  :  6.240909090909091
Physical education  :  15.0
Chloé Garnier
Chemistry  :  6.847368421052631
Physics  :  19.0
Biology  :  15.719
Philosophy  :  6.632142857142855
Math  :  14.684444444444445
History  :  18.547692307692305
Literature  :  3.416666666666666
Geography  :  14.240000000000002
Art  :  0.9100000000000001
Physical education  :  4.21
Florence Martin
Chemistry  :  5.789444444444445
Physics  :  1.0811111111111111
Biology  :  2.3033333333333332
Philosophy  :  8.443333333333333
Math  :  8.0
History  :  14.0
Geography  :  2.298
Literature  :  3.1888888888888887
Art  :  10.234444444444444
Physical education  :  3.1174999999999997
Paul Hoarau
Chemistry  :  11.109411764705882
Physics  :  2.463
Biology  :  10.047692307692309
Philosophy  :  6.564166666666668
Math  :  17.369999999999997
History  :  5.696153846153846
Literature  :  8.818000000000001
Geography  :  12.0
Art  :  15.844999999999999
Physical education  :  14.22777777777778
Lucas Leroy
Chemistry  :  13.614117647058823
Physics  :  16.935454545454544
Biology  :  19.522727272727273
Philosophy  :  13.640714285714283
Math  :  13.328888888888889
History  :  14.890714285714287
Geography  :  8.356874999999999
Literature  :  13.805555555555555
Art  :  8.788

# Q3 Calculate the average of each class in each subject.

In [22]:
list_classes = []
for i in range(len(df_eval.index)):
    list_classes.append(df_students["class"].iloc[int(df_eval.loc[i]["student"])])
df_eval["class"] = list_classes

In [138]:
for classe in df_students["class"].drop_duplicates():
    print("Class n°", classe , " : ")
    for subject in df_eval[df_eval["class"] == classe]["subject"].drop_duplicates():
        print(subject, " : ", df_eval[(df_eval["class"] == classe) & (df_eval["subject"] == subject)]["score"].mean())

Class n° 0  :
Chemistry  :  9.52428205128205
Literature  :  8.761056701030927
Physics  :  10.191570048309178
History  :  10.217309523809526
Math  :  10.512226980728052
Biology  :  9.759794988610476
Geography  :  10.069630484988451
Philosophy  :  10.232846889952153
Class n° 1  :
History  :  10.667760416666667
Literature  :  9.860731707317072
Biology  :  12.316682464454974
Math  :  9.933779904306219
Physics  :  10.011914191419141
Physical education  :  10.24377521613833
Philosophy  :  11.64547770700637
Chemistry  :  10.352890624999999
Class n° 2  :
Chemistry  :  8.741903846153846
Physics  :  10.299194630872483
Biology  :  8.997809798270893
Philosophy  :  10.542150259067357
Math  :  10.737407407407407
History  :  10.442941176470589
Geography  :  9.197346072186836
Literature  :  9.4852
Art  :  9.43958041958042
Physical education  :  9.616727828746178
Class n° 3  :
Geography  :  10.401554404145077
Philosophy  :  10.378509719222462
Biology  :  9.210359116022099
Physical education  :  9.819368686868687
History  :  10.888859060402686
Math  :  9.992767857142855
Literature  :  11.009899497487437
Chemistry  :  9.720550847457629
Physics  :  9.770368852459017
Class n° 4  :
Geography  :  10.838267477203647
History  :  10.977811764705882
Chemistry  :  9.878496503496503
Math  :  11.754
Music  :  9.99457593688363
Physical education  :  9.806303501945527
Philosophy  :  11.310383275261323
Physics  :  10.5344966442953
Biology  :  11.265420875420876
Literature  :  10.700109890109891

In [139]:
df_eval

      student    subject  score                 date     type  class
0          22  Chemistry   0.50  2019-09-08T09:00:00     oral      0
1          83  Chemistry   2.60  2019-09-08T10:00:00  written      2
2          85  Chemistry  19.73  2019-09-08T10:00:00  written      2
3          21  Chemistry  13.25  2019-09-08T10:00:00     oral      0
4          76  Chemistry   7.47  2019-09-08T10:00:00  written      2
...       ...        ...    ...                  ...      ...    ...
15569      17    Biology  13.50  2020-07-03T12:00:00  written      0
15570       7    Biology   2.98  2020-07-03T12:00:00  written      0
15571      80    Biology  15.75  2020-07-03T12:00:00  written      2
15572     120    Biology  14.36  2020-07-03T12:00:00  written      4
15573      45       Math   8.60  2020-07-03T12:00:00  written      1

[15574 rows x 6 columns]

# Q4 For each written evaluations, find all the students that missed the evaluation.

In [140]:
df_eval[df_eval["type"] == "written"].drop_duplicates(subset=["subject","date"])

      student     subject  score                 date     type  class
1          83   Chemistry   2.60  2019-09-08T10:00:00  written      2
32         50     History   9.44  2019-09-08T16:00:00  written      1
53        103   Geography  15.76  2019-09-08T17:00:00  written      3
92         89  Philosophy  10.89  2019-09-09T16:00:00  written      3
131       114     Biology   4.71  2019-09-10T12:00:00  written      3
...       ...         ...    ...                  ...      ...    ...
15369     143        Math  19.00  2020-07-02T16:00:00  written      4
15398      85     History  16.56  2020-07-03T09:00:00  written      2
15426       4     History   5.00  2020-07-03T10:00:00  written      0
15457     141     Biology   5.45  2020-07-03T12:00:00  written      4
15464      54        Math  15.39  2020-07-03T12:00:00  written      1

[494 rows x 6 columns]

In [149]:
len(df_students[df_students["class"] == 0])

32

In [158]:
df_eval_no_dup = df_eval[df_eval["type"] == "written"].drop_duplicates(subset=["subject","date"])
df_eval_no_dup

      student     subject  score                 date     type  class
1          83   Chemistry   2.60  2019-09-08T10:00:00  written      2
32         50     History   9.44  2019-09-08T16:00:00  written      1
53        103   Geography  15.76  2019-09-08T17:00:00  written      3
92         89  Philosophy  10.89  2019-09-09T16:00:00  written      3
131       114     Biology   4.71  2019-09-10T12:00:00  written      3
...       ...         ...    ...                  ...      ...    ...
15369     143        Math  19.00  2020-07-02T16:00:00  written      4
15398      85     History  16.56  2020-07-03T09:00:00  written      2
15426       4     History   5.00  2020-07-03T10:00:00  written      0
15457     141     Biology   5.45  2020-07-03T12:00:00  written      4
15464      54        Math  15.39  2020-07-03T12:00:00  written      1

[494 rows x 6 columns]

In [179]:
dic_missed = {"eval":[],"student":[]}

for i in df_eval_no_dup.index:
    if len(df_eval[(df_eval["subject"] == df_eval["subject"].iloc[i]) & (df_eval["date"] == df_eval["date"].iloc[i])])\
        != len(df_students[df_students["class"] == df_eval["class"].iloc[i]]) :
        dic_missed["eval"].append((df_eval["subject"].iloc[i],df_eval["date"].iloc[i]))
        missing_students = []
        for stud in df_students[df_students["class"] == df_eval["class"].iloc[i]].index.tolist() :
            if df_eval[(df_eval["subject"] == df_eval["subject"].iloc[i]) & (df_eval["date"] == df_eval["date"].iloc[i]) & (df_eval["student"] == str(stud))].empty:
                missing_students.append(stud)
        dic_missed["student"].append(missing_students)

In [180]:
df_missed = pd.DataFrame(dic_missed)
df_missed

,eval,student
0,"(Chemistry, 2019-09-08T10:00:00)","[58, 61, 62, 67, 81, 84]"
1,"(History, 2019-09-08T16:00:00)","[35, 37, 39, 42, 51, 56]"
2,"(Geography, 2019-09-08T17:00:00)","[92, 94, 106, 109, 116, 117]"
3,"(Philosophy, 2019-09-09T16:00:00)","[87, 92, 99, 105, 113]"
4,"(Biology, 2019-09-10T12:00:00)","[90, 96, 99, 103, 104]"
...,...,...
441,"(Math, 2020-07-02T16:00:00)","[122, 124, 131, 135, 137, 140, 149, 151]"
442,"(History, 2020-07-03T09:00:00)","[59, 82]"
443,"(History, 2020-07-03T10:00:00)",[0]
444,"(Biology, 2020-07-03T12:00:00)","[127, 136]"
445,"(Math, 2020-07-03T12:00:00)",[56]

# Q5 For each class and for each oral evaluations, find the upper and lower bounds for that evaluation period for the whole class.

In [23]:
df_eval_oral = df_eval[df_eval["type"] == "oral"]
df_eval_oral

      student    subject  score                 date  type  class
0          22  Chemistry   0.50  2019-09-08T09:00:00  oral      0
3          21  Chemistry  13.25  2019-09-08T10:00:00  oral      0
12        134  Geography  12.67  2019-09-08T10:00:00  oral      4
27          8  Chemistry  16.30  2019-09-08T11:00:00  oral      0
28        135  Geography   3.00  2019-09-08T12:00:00  oral      4
...       ...        ...    ...                  ...   ...    ...
15367     111    Biology   1.00  2020-07-02T12:00:00  oral      3
15368      96    Biology   2.77  2020-07-02T15:00:00  oral      3
15382     119    Biology  18.47  2020-07-02T16:00:00  oral      3
15396     106    Biology  12.00  2020-07-02T17:00:00  oral      3
15397      95    Biology  10.51  2020-07-02T18:00:00  oral      3

[1593 rows x 6 columns]

In [24]:
df_eval.drop_duplicates("subject")

     student             subject  score                 date     type  class
0         22           Chemistry   0.50  2019-09-08T09:00:00     oral      0
12       134           Geography  12.67  2019-09-08T10:00:00     oral      4
32        50             History   9.44  2019-09-08T16:00:00  written      1
92        89          Philosophy  10.89  2019-09-09T16:00:00  written      3
131      114             Biology   4.71  2019-09-10T12:00:00  written      3
166      101  Physical education   0.50  2019-09-11T09:00:00  written      3
195       81             Physics   5.98  2019-09-11T10:00:00  written      2
236       52          Literature   9.50  2019-09-12T10:00:00  written      1
344       57                Math  16.05  2019-09-13T10:00:00  written      2
2137      79                 Art  11.00  2019-10-25T10:00:00  written      2
3953     144               Music  20.00  2019-12-01T17:00:00  written      4

In [41]:
eval_bounds = {"eval":[],"class":[],"upper":[],"lower":[]}

for cl in range(5):
    for subj in df_eval["subject"].drop_duplicates() :
        if not df_eval_oral[(df_eval_oral["class"] == cl) & (df_eval_oral["subject"] == subj)].empty:
                eval_bounds["eval"].append(subj)
                eval_bounds["class"].append(cl)
                eval_bounds["lower"].append(df_eval_oral[(df_eval_oral["class"] == cl) & (df_eval_oral["subject"] == subj)].min()["score"])
                eval_bounds["upper"].append(df_eval_oral[(df_eval_oral["class"] == cl) & (df_eval_oral["subject"] == subj)].max()["score"])

df_bounds = pd.DataFrame(eval_bounds)
df_bounds

          eval  class  upper  lower
0    Chemistry      0  20.00    0.5
1      History      0  20.00    0.5
2   Philosophy      0  17.10    0.5
3      Biology      0  20.00    0.5
4      Physics      0  20.00    0.5
5         Math      0  20.00    0.5
6    Chemistry      1  20.00    0.5
7   Philosophy      1  20.00    0.5
8      Biology      1  20.00    0.5
9      Physics      1  20.00    0.5
10  Literature      1  20.00    0.5
11   Chemistry      2  20.00    0.5
12     History      2  19.32    0.5
13     Physics      2  20.00    0.5
14        Math      2  20.00    0.5
15   Chemistry      3  20.00    0.5
16   Geography      3  20.00    0.5
17     History      3  20.00    0.5
18  Philosophy      3  20.00    0.5
19     Biology      3  20.00    0.5
20     Physics      3  20.00    0.5
21   Chemistry      4  20.00    0.5
22   Geography      4  20.00    0.5
23     History      4  20.00    0.5
24  Philosophy      4  20.00    0.5
25     Biology      4  20.00    0.5
26       Music      4  20.00    0.5

# Q6 Create an object representing a class with relevant field/members.

In [43]:
class Classe():

    def __init__(self, id, list_students, list_teachers, list_written_eval, list_oral_eval) -> None:
            id = id
            list_students = list_students
            list_teachers = list_teachers
            list_written_eval = list_written_eval
            list_oral_eval = list_oral_eval

    def __str__(self):
        return f"The class n°{self.id} has {len(self.list_students)} students and {len(self.list_teachers)}"