In [2]:
from kata import *

# Python Kata for Exalt IT

- Q1: What is the company with the most active flights in the world ?

In [3]:
most_active_airline()

                  Name Code ICAO  Active_planes
267  American Airlines   AA  AAL            749

- Q2: By continent, what are the companies with the most regional active flights (airports of Origin & Destination within the same continent) ?

In [4]:
active_by_continent()

EUROPE :
 Ryanair : 70
NORTHAMERICA :
 American Airlines : 687
SOUTHAMERICA :
 LATAM Airlines : 93
OCEANIA :
 Qantas : 83
ASIA :
 All Nippon Airways : 59
AFRICA :
 Royal Air Maroc : 13

# Q3  

- Q3: World-wide, Which active flight has the longest route ?

In [3]:
longuest_journey()

The flight with the longuest journey started at Zakynthos International Airport and will end at Zurich Airport for a journey of 15348.64044117391 km