In [1]:
from kata import *

# Python Kata for Exalt IT

- Q1: What is the company with the most active flights in the world ?

In [3]:
most_active_airline()

                  Name Code ICAO  Active_planes
267  American Airlines   AA  AAL            749

- Q2: By continent, what are the companies with the most regional active flights (airports of Origin & Destination within the same continent) ?

In [2]:
active_by_continent()

EUROPE :
 Ryanair : 272
NORTHAMERICA :
 American Airlines : 771
SOUTHAMERICA :
 LATAM Airlines : 105
OCEANIA :
 Air New Zealand : 49
ASIA :
 IndiGo : 44
AFRICA :
 Binter Canarias : 5
NORTHATLANTIC :
 Air Greenland : 2